<div id="page-content">
    <div class="container" id="home-container">
        <div class="jumbotron jumbotron-fluid text-center text-white">
            <div class="jumbotron ">
                <div class="container">
                    <h1 class="display-3">Alpha Blog</h1>
                    <p class="lead">Jumbo helper text</p>
                    <hr class="my-2">
                    <p>More info</p>
                    <p class="lead">
                        <a class="btn btn-success btn-lg" href="Jumbo action link" role="button">Sign up!</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<footer id="sticky-footer" class="py-4 bg-dark text-white">
    <div class="container text-center">
        <small>Copyright &copy; <%= link_to "Wojciech Drywa", "https://facebook.com", class: "text-white" %></small>
    </div>
</footer>